{{#if message.error}}
<div class="card red darken-3">
    <div class="card-content white-text">
        <span class="card-title">Error</span>
        <li>{{message.error}}</li>
    </div>
</div>
{{/if}}

{{#if message.errorNotFound}}
<div class="card red darken-3">
    <div class="card-content white-text">
        <span class="card-title">Error Not Found</span>
        <li>{{message.errorNotFound}}</li>
    </div>
</div>
{{/if}}

{{#if message.errors}}
<div class="card red darken-3">
    <div class="card-content white-text">
        <span class="card-title">Check these errors</span>
        {{#each message.errors}}
        <li>{{msg}}</li>
        {{/each}}
    </div>
</div>
{{/if}}