{{#if message.success}}
<div class="card green darken-3">
    <div class="card-content white-text">
        <span class="card-title">Success</span>
        <li>{{message.success}}</li>
    </div>
</div>
{{/if}}